<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/style/about_us/index.css">
    <script src="static/style/about_us/script.js"></script>
    <script src="https://kit.fontawesome.com/90d77b2020.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <title>About Us</title>
</head>

<body>
    <section>
        <div class="container">
            <div class="card">
                <div class="content">
                    <div class="image"><img src="static/src/ade.jpg"></div>
                    <div class="contents">
                        <h3>Ade Aditya Ramadha<br><span>1101184157</span></h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="image"><img src="static/src/nurul.jpg"></div>
                    <div class="contents">
                        <h3>Nurul Aulia Fitri<br><span>1101184064</span></h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="image"><img src="static/src/hana.jpg"></div>
                    <div class="contents">
                        <h3>Hanaluthfina Nurhadiati<br><span>1101184012</span></h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="image"><img src="static/src/putri.jpg"></div>
                    <div class="contents">
                        <h3>Putri Ayu Rezeki<br><span>1101184187</span></h3>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="content">
                    <div class="image"><img src="static/src/dzul.jpg"></div>
                    <div class="contents">
                        <h3>Dzulfiqar Zakiyya Z<br><span>1101180134</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="containswitch">
                <div class="switch">
                    <a href="" onclick="switchtheme()"><h3 id = "button">Light</h3></a>
                </div>
            </div>
            <div class="containswitch">
                <div class="switch">
                    <a href="/"><h3>Home</h3></a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>